<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ISearchManager, Sitecore.Commerce.XA.Foundation.Connect">
				<patch:attribute name="implementationType">Foundation.BackEnd.Catalog.Managers.SearchManager, Foundation.BackEnd.Catalog</patch:attribute>
			</register>
		</services>
		<commerce.XA>
			<models>
				<CommerceStorefront type="Foundation.BackEnd.Catalog.Models.CommerceStorefront, Foundation.BackEnd.Catalog" patch:instead="*[@type='Sitecore.Commerce.XA.Foundation.Common.Models.CommerceStorefront, Sitecore.Commerce.XA.Foundation.Common']"></CommerceStorefront>
			</models>
		</commerce.XA>
		<pipelines>
			<mvc.renderRendering>
				<processor type="Foundation.Backend.Catalog.Infrastructure.Pipelines.ApplyVaryByStoreCatalog, Foundation.Backend.Catalog" patch:after="processor[@type='Sitecore.Commerce.XA.Foundation.Common.Pipelines.Caching.ApplyVaryByUrlPath, Sitecore.Commerce.XA.Foundation.Common']" />
			</mvc.renderRendering>
		</pipelines>
	</sitecore>
</configuration>